:host
  font-family: 'Roboto', 'Noto', sans-serif
  display: block
paper-material
  box-sizing: border-box
  display: block
  border-radius: 2px
  height: 100%
  padding: 16px
  width: calc(98.66% - 32px)
  margin: 16px auto
  background: white
